// COLOURS
$softBlack: #252934;
$darkBlack: #1B242F;
$grey: #8F9AA7;
$accent: #f7ec91;


// MEDIA QUERIES
$tablet: 600px;
$desktop: 800px;
$large-desktop: 1500px;

// FONTS
$heroHeading: 'Satisfy', cursive;
$heading: 'Robot', sans-serif;
$main: 'Open Sans', sans-serif;